{% extends "layout.html" %}

{% block title %}
    Book Tab
{% endblock %}

{% block body %}
	<a href="{{	url_for('logout') }}">logout</a>
    <br>
    <a href="{{ url_for('books') }}">Back</a>

	<br>
    <h1>Book Tab for {{ book.id }}</h1>
    <table>
        <tr>
            <td>Title:</td>
            <td>{{ book.title }}</td>
        </tr>
        <tr>
            <td>Author:</td>
            <td>{{ book.author }}</td>
        </tr>
        <tr>
            <td>ISB: </td>
            <td>{{ book.isbn }}</td>
        </tr>
        <tr>
            <td>Year:</td>
            <td>{{ book.year }}</td>
        </tr>
    </table>

    <!-- Goodreads rating -->
    {% if goodreadsRating.work_ratings_count == -1 %}
    <p>
        Goodreads rating service unavailable at the moment. Please try later.
    </p>
    {% else %}
    <p>
        Goodreads number of ratings: {{goodreadsRating.work_ratings_count}}
    </p>
    <p>
        Average rating: {{goodreadsRating.average_rating}}
    </p>
    {% endif %}

    <!-- personal rating -->
    <script type="jscript">
        $('.rating span').click(function(){ 
            $("#rating").value = $(this).attr('id');
        })
    </script>

    <form action="{{ url_for('bookReview') }}" method="post">

        <input name="book_id" value="{{ book.id }}" hidden>

    <!--
        <div class="form-group" hidden>
            <div class="rating">
                <span id="5" class="glyphicon glyphicon-star"></span>
                <span id="4" class="glyphicon glyphicon-star"></span>
                <span id="3" class="glyphicon glyphicon-star"></span>
                <span id="2" class="glyphicon glyphicon-star"></span>
                <span id="1" class="glyphicon glyphicon-star"></span>
            </div>    
        </div>
    -->

        <div class="form-group">
            <label for="rating">Your rating</label>
            <input class="form-control" id="rating" name="user_rating" placeholder="Rating" type="number" 
                   value="{% if userReview != None %}{{ userReview.rating}}{% else %}5{% endif %}">
        </div>

        <div class="form-group">
            <label for="user_review">Write a review</label>
            <textarea class="form-control" id="user_review" name="user_review" rows="3">{% if userReview != None %}{{ userReview.text}}{% endif %}</textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
    </form>

{% endblock %}
