{% extends "layout.html" %}

{% block title %}
    Books search
{% endblock %}

{% block body %}
	<a href="{{	url_for('logout') }}">logout</a>
	<br>
    <h1>Search books</h1>

    <form action="{{ url_for('booksSearch') }}" method="post">
        <div class="form-group">
            <input class="form-control" name="searchTerms" placeholder="Type ISBN, Title or Author" value="{{ searchTerms }}" required>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="searchMode" id="sm2" value="anyWord" {% if not allWords %}checked{% endif %}>
            <label class="form-check-label" for="sm2">Any word</label>
        </div>  
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="searchMode" id="sm1" value="allWords" {% if allWords %}checked{% endif %}>
            <label class="form-check-label" for="sm1">All words</label>
        </div>  

        <div class="form-group">
            <button class="btn btn-primary">Search</button>
        </div>
    </form>
    <hr>
    <br>
    <ol>
        <h2>List of books:</h2>
        <br>
            {{ msg }}
        <br>
        {% if books %}
        {% for book in books %}
        <li><a id="id_{{book.id}}" href="{{ url_for('booktab',book_id=book.id) }}">{{book.isbn}} / {{book.title}} / {{book.author}} / {{book.year}}</a></li>
        {% endfor %}
        {% endif %}
    </ol>
    <br>
{% endblock %}
