{% extends "layout.html" %}

{% block title %}
    User Login
{% endblock %}

{% block body %}

<div id="login">

    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"> 
        </div>
        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">

            <h2>User Login</h2>
            <form action="{{ url_for('login') }}" method="post">

                <div class="form-group">
                    <input class="form-control" name="username" placeholder="Username" size=25 required>
                </div>

                <div class="form-group">
                    <input class="form-control" name="password" type="password"  placeholder="Password" size=25 required>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" style="float:left; margin-right: 1em">Login</button>
                    <p>If you do not have an account, please register <a href="{{ url_for('register') }}">here</a></p>
                </div>
            </form>
            <div id="message_zone">
                <div class="alert {{ msgType }}" role="alert">{{ msgText }}</div>
            </div>
        </div>
        <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">
        </div>
    </div>

</div>

{% endblock %}
